<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WinFormsSandbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Controls.Sandbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinFormsSandbox.Properties.Settings>
            <setting name="LastAssemblyIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastTypeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastCtorIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoadAssemblyHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoadObjectHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PropertiesHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EventsHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MethodsHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomCodeHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastLoadAssembliesDir" serializeAs="String">
                <value />
            </setting>
            <setting name="LastProbingPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastAssemblyInfoHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomCode" serializeAs="String">
                <value />
            </setting>
        </WinFormsSandbox.Properties.Settings>
        <Controls.Sandbox.Properties.Settings>
            <setting name="LastAssemblyIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastTypeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastCtorIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SignAll" serializeAs="String">
                <value>False</value>
            </setting>
        </Controls.Sandbox.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
